*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar ul li {
list-style: none;
}
.nav-bar ul{
    display:flex;
}
.nav-bar ul li a{
    padding-left: 50px;
    font-size: 27px;
    text-decoration: none;
    color: black;
}
.nav-bar ul li a:hover{
 color: #cce5cf ;
}
.nav-bar{
    background-color: #3db6b1;
} 
marquee{
    background-color: rgb(205,205,205);
}
#content div ol li {
    padding-bottom: 70px;
    list-style: none;
    font-size: 30px;
}
#content #hero-section{
    margin-left: 525px;
}
#content div p{
    font-size: 30px;
    padding-top: 200px;
}
#content{
background-image: url("../img/Background-image.jpg");
background-size: cover;
background-attachment: fixed;
color: #cce5cf;
display: flex;
}
@media screen and (max-width:800px){
    .nav-bar ul li a{
        font-size: 20px;
    }
    .nav-bar ul li{
        padding-bottom:25px;
    }
    .nav-bar ul li a{
        padding-left: 0;
    }
    .nav-bar ul{
    display: block;
}
body{
    font-size: 25px;
   }
   #content #hero-section{
    margin-left: 0;
   }
   #content{
     display: block;
   }
   #content div p{
    font-size: 30px;
    padding-top: 0;
    padding-bottom: 40px;
}
#content div ol li {
    padding-bottom: 80px;
    font-size: 25px;
}
}